@model RBlogOnNetCore.Models.BlogModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @Html.Raw(Model.Content)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ReleasedOn)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Editable)
    {
        @Html.ActionLink("编辑", "Edit", "Blog", new { id = Model.Id })
    }
    | <a href="#" onclick="javascript:window.history.back();"> 回退 </a>
</div >
