@model RBlogOnNetCore.Models.PictureListModel

@{
    ViewData["Title"] = "CustomerPicListView";
}

<h2>CustomerPicListView</h2>
@if(Model!=null)
{
<div>
    <h4>PictureListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pageIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pageIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pageSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pageSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pageCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pageCount)
        </dd>
    </dl>
</div>
<div id="mainboard">
        @foreach (var m in Model.pictures)
        {
            <img height="200" src="@Html.Raw(m.url)" class="imgsrc" />
        }
</div>
}
<div>
    @using (Html.BeginForm("UploadPicture", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" id="pic" name="pic" />
        <input type="text" id="customName" name="customName">
        <input type="submit" id="submit" name="submit" value="Upload Picture" /> 
    }
</div>
<style type="text/css">
    selected_imgsrc {
        border: 3px solid red;
    }
    imgsrc {
        border: 1px solid #cccccc;
    }
</style>
<script language="javascript" type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script> 
<script language="javascript" type="text/javascript">
    $(function () {
        $("#mainboard img").bind("click", function () {
            $(this).css("border", "3px solid red").siblings().css("border", "1px solid #cccccc");
            $(this).removeClass("imgsrc").addClass("selected_imgsrc").siblings().removeClass("selected_imgsrc").addClass("imgsrc");
        })
    })
</script>

