@model RBlogOnNetCore.Models.BlogPagingModel
@if (Model.Editable)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<div>
    @foreach (var item in Model.Blogs)
    {
        <div>
            <div class="title">
                    @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="content">
                @Html.Raw(item.Content)
            </div>
            <div>
                <div class="author">
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </div>
                <div class="publishedOn">
                    @Html.DisplayFor(modelItem => item.ReleasedOn)
                </div>
            </div>
            @if (Model.Editable)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </div>
            }
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
