@model RBlogOnNetCore.Models.BlogListModel
@if (Model.editable)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<div>
    @foreach (var item in Model.Blogs)
    {
        <div>
            <div class="title">
                    @Html.DisplayFor(modelItem => item.title)
            </div>
            <div class="content">
                @Html.Raw(item.content)
            </div>
            <div>
                <div class="author">
                    @Html.DisplayFor(modelItem => item.customerName)
                </div>
                <div class="publishedOn">
                    @Html.DisplayFor(modelItem => item.releasedOnString)
                </div>
            </div>
            @if (Model.editable)
                {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </div>
            }
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.searchKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.beginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
