@model RBlogOnNetCore.Models.BlogPagingModel
@if (Model.Editable)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<div>
    @foreach (var item in Model.Blogs)
    {
        <div class="blogListItem">
            <div class="title">
                    @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="content">
                @Html.Raw(item.Content)
            </div>
            <div>
                <div class="author">
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </div>
                <div class="publishedOn">
                    @Html.DisplayFor(modelItem => item.ReleasedOn)
                </div>
            </div>
            @if (Model.Editable)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit","Blog", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", "Blog",new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Blog",new { id = item.Id })
                </div>
            }
        </div>
    }
</div>
<div>
    @Html.Raw(Model.PageIndex)--
    @Html.Raw(Model.Index)--
    @Html.Raw(Model.SearchKeyword)--
    @Html.Raw(Model.BeginTime)--
    @Html.Raw(Model.EndTime)
</div>
